{% block content %}
<br/>
<article id="view" class="ui center container">
    <div class="ui grid">

        <!-- Begin first row -->

        <div class="one wide column"></div>
        <div class="five wide column">
            <div class="ui inline compact segment home-card" data-id="2">
                <div class="box">
                    <span class="icon icon-cloud-upload home-icon"></span>
                </div>
                <p>Upload SIPs</p>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui inline compact segment home-card" data-id="3">
                <div class="box">
                    <span class="icon icon-drive home-icon"></span>
                </div>
                <p>Manage archive store</p>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui inline compact segment home-card" data-id="5">
                <div class="box">
                    <span class="icon icon-cogs home-icon"></span>
                </div>
                <p>Archive and profile settings</p>
            </div>
        </div>

        <!-- first row ends here -->

        <!-- Begin second row -->

        <div class="one wide column"></div>
        <div class="five wide column">
            <div class="ui inline compact segment home-card" data-id="4">
                <div class="box">
                    <span class="icon icon-search home-icon"></span>
                </div>
                <p>Finding aids</p>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui inline compact segment home-card" data-id="6">
                <div class="box">
                    <span class="icon icon-bubbles home-icon"></span>
                </div>
                <p>How tos</p>
            </div>
        </div>
        <!-- second row ends here -->
    </div>
</article>
{% endblock %}